.uploadsection{
    height: 42vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    gap: 15vh;
    align-items: center;
    justify-content: center;
}
.uploadsection > input:hover{
    cursor: pointer;
}
.uploadsection > button{
    width: 25vh;
    height: 8vh;
    border: 1px solid grey;
    background-color: var(--bgc);
}
.uploadsection > button:hover{
    cursor: pointer;
    background-color: var(--hbgc);
    border-radius: 10px;
}